body {
    font-size: 1em;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 1000pix;
    margin: 0 auto;
}

h1 {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%; 
}

button.extension {
    padding: 0.25em 1em;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%; 
}
